footer{
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: map-get($colores,fondo-pie);
  padding-bottom: 1em;
}

.footer__logo{
  font-size: calc(20px + 3vh);
}

.footer__redes{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 80vw;
  margin: auto;

}

.footer__redes a img{
  width: calc(20px + 10vw);
  max-width: 100px;
}