.principal__img {
  background-color: rgb(114, 114, 114);
  background-blend-mode: multiply;
  background-image: url(../imagenes/fondo_inicio.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(40vh + 100px);
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal__titulo {
  font-size: 3em;
  font-weight: 700;
  padding: 0.5em;
}

.principal__txt {
  color: map-get($colores, texto);
  text-align: center;
  font-family: map-get($fuentes, texto);
  font-size: calc(1em + 1vw);
  max-width: 600px;
}

.principal__seccion__txt{
  font-size: calc(1em + 0.5vw);
}

@media screen and (min-width: 769px) {
  .principal__seccion {
    @include flex(column);
    align-items: center;
  }

  .principal__seccion__img {
    width: 75vw;
    padding: 0.5em;
  }
  .principal__seccion__txt {
    width: 60vw;
  }
}
@media screen and (min-width: 1025px) {
  .principal__seccion {
    flex-flow: row;
    justify-content: center;
  }
  .principal__seccion__img {
    width: 45vw;
    padding: 1em;
    padding-bottom: 5em;
  }
  .principal__seccion__txt {
    width: 45vw;
  }
}
