.nosotros__introduccion{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(25vh + 100px);
  background-color: map-get($colores,fondo-main);
}

.nosotros__sub__txt{
  font-size: calc(1em + 0.5vw);
  text-align: center;
  width: 80%;
}

.nosotros__logo{
  padding: 0;
  margin: 0;
}
.nosotros__titulo{
  background-color: map-get($colores, fondo-encabezado);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros__titulo__txt{
  font-size: calc(3em + 0.75vw);
  color: map-get($colores, texto-blanco);
  text-align: center;
}

.nosotros__contenido{
  background-color: map-get($colores, texto-blanco);
  height: calc(25vh + 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros__txt{
  text-align: center;
  width: 90%;
  font-size: calc(1em + 0.5vw);
}

@media screen and (min-width: 900px) {
  %flex{
    @include flex(column);
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .nosotros {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(1fr,4);
    grid-template-rows: repeat(1fr,2);
    gap: 0px 0px;
    grid-template-areas:
      "introduccion introduccion foto foto"
      "nosotros nosotros__txt nosotros__txt vacio";
  }

  .nosotros__introduccion {
    @extend %flex;
    grid-area: introduccion;
    height: 45vh;
  }

  .nosotros__foto {
    grid-area: foto;
    background-image: url(../imagenes/producto1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .nosotros__titulo {
    @extend %flex;
    grid-area: nosotros;
  }
  .nosotros__contenido {
    @extend %flex;
    grid-area: nosotros__txt;
    height: 50vh;
  }

  .nosotros__vacio {
    grid-area: vacio;
    background-color: map-get($colores, fondo-encabezado);
  }

  .nosotros__sub__txt {
  }

  .nosotros__titulo__txt {
    transform: rotate(-90deg);
  }

  .nosotros__txt {
  }
}
