$colores:(
  texto: #ff9100,
  texto-focus: #ff6d00,
  texto-negrita: #ff5400,
  texto-blanco: #f7f5fb,
  fondo-encabezado: #023e8a,
  fondo-pie: #03045e,
  fondo-main: #f9ab55,
);
$fuentes:(
  logo: "Inspiration",
  texto: "Fredoka",
  texto-remarcado: "Ramaraja",
  texto-encabezado: "Inconsolata",
);

@mixin flex($flow) {
  display:flex;
  flex-flow:$flow;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62, 5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: map-get($colores, fondo-main);
}

.logo {
  color: map-get($colores, texto);
  font-family: map-get($fuentes, logo);
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
}

img {
  width: 100%;
}

.overflow {
  overflow: hidden;
}

.texto {
  font-size: 2em;
  padding: 1em;
  text-align: center;
  color: map-get($colores, texto);
  font-family: map-get($fuentes, texto);
  font-weight: 300;
}

.negrita {
  color: map-get($colores, texto-negrita);
  font-weight: 700;
}
.blanco {
  color: map-get($colores, texto-blanco);
}
